useDynLib(genoaligner, .registration = TRUE)
import(Rcpp)
export(align)
export(align_edit)
export(align_sw)
export(as_dnabin)
export(msa_align)
export(msa_codon)
S3method(as.character,genoaligner_msa)
S3method(as.matrix,genoaligner_msa)
S3method(print,genoaligner_msa)
